$long:128rpx;
$margin:20rpx;
$color:#aaa;

.userinfo{
  align-items: center;
  display: flex;
  flex-direction: column;
  .userinfo-avatar {
    width: $long;
    height: $long;
    margin: $margin;
    border-radius: 50%;
  }

  .userinfo-nickname {
    color: $color;
  }
}

.usermotto {
  margin-top: $margin*10;
}
